<p-toast [baseZIndex]="1000"></p-toast>
<div class="p-grid">
    <div class="p-md-8">
        <h3>User Lists</h3>
    </div>
    <div class="p-md-4 p-text-right">
        <button type="button" label="Add User" (click)="addUser()" pButton></button>
    </div>
</div>
<p-table [value]="userLists" responsiveLayout="scroll" [autoLayout]="true" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
    <ng-template pTemplate="header">
        <tr>
            <th>Sno</th>
            <th>Name</th>
            <th>Description</th>
            <th style="width: 150px;">Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user let-index="rowIndex">
        <tr>
            <td>{{index+1}}</td>
            <td>{{user.name}}</td>
            <td>{{user.description}}</td>
            <td style="width: 150px;">
                <button type="button" icon="pi pi-pencil" (click)="editUser(user._id)" pButton></button>
                <button type="button" icon="pi pi-trash" (click)="delete(user._id)" class="p-button-danger p-ml-2" pButton></button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="Add New User" (onHide)="cancel()" [(visible)]="display" [style]="{width: '30vw'}">
    <form [formGroup]="toDOForm" (ngSubmit)="onSubmit()">
        <div class="p-grid p-field">
            <label for="float-input">Name</label>
            <div class="p-md-12 p-p-0">
                <input type="text" id="float-input" formControlName="cname" class="w-100" pInputText />
            </div>
        </div>
        <div class="p-grid p-field">
            <label for="float-textare">Description</label>
            <div class="p-md-12 p-p-0">
                <textarea [rows]="5" [cols]="30" id="float-textare" formControlName="desc" class="w-100" pInputTextarea></textarea>
            </div>
        </div>
        <div class="p-grid p-field">
            <div class="p-md-12 p-p-0">
               <button type="submit" label="Save" pButton></button>
            </div>
        </div>
    </form>
</p-dialog>